*{
    margin: 0px;
    padding: 0px;
}
/* Black Container */
.container-F{
    height: 500px;
    width: 1080px;
    border-radius: 10px;
    margin: 100px auto ;
    color: aliceblue;
    background-color: rgb(20, 20, 20);
}
/*  */
.containerD{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    
    
}
.left-handle h4{
    text-align: center;
    background: rgb(126, 230, 198);
    color: #000;
    padding: 10px;
    width: 225px;
    margin: auto;
    border-radius: 20px;
    box-shadow:0px 5px 12px  rgb(100, 100, 100) ;
}
.input-area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px;
       
}

.input{
    display: flex;
    flex-direction: column;
    
}
.search-data{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 7px;
}

.search-button{
    margin: 5px;
    padding: 10px;
    border: none;
    background: rgb(98, 0, 255);
    color: aliceblue;
}
.clear-button{
    padding: 10px;
    border: none;
    background: rgb(255, 136, 0);
    color: aliceblue;
}
.search-button:hover{
    background-color: black;
    color: aliceblue;
    box-shadow: 1px 1px 6px rgb(255, 255, 255);
    transition: all 500ms;
}
.clear-button:hover{
    background-color: rgb(139, 62, 62);
    color: aliceblue;
    box-shadow: 1px 1px 6px rgb(255, 255, 255);
    transition: all 500ms;

}
.read-only-section{
    width: 250px;
    margin: 15px 10px;
    padding: 10px;
    background: rgb(53, 53, 53);
    color: aliceblue;
    border: none;
    border-radius: 7px;
}
.right-handle h4{
    text-align: center;
    background: rgb(126, 230, 198);
    color: #000;
    padding: 10px;
    width: 225px;
    margin: auto;
    border-radius: 20px;
    box-shadow:0px 5px 12px  rgb(100, 100, 100) ;
}
.input-area-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:80px ;
    
}
.float{
    position: absolute;
}
.dataSet{
    width: 200px;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid white;
    background: #000;
    padding: 5px;
}
.selected-value{
    background: rgb(255, 244, 244);
    color: #000;
}
.select{
    width: 240px;
    padding: 10px;
    margin: 15px 10px;
    border-radius: 5px;
    color: white;
    background: rgb(53, 53, 53);
    border: none;
}
.upload{
    width: 100%;
}
.upload-button{
    background: rgb(66, 22, 187);
    color: white;
    padding: 20px 40px;
    margin:0px 450px;
    border-radius: 15px;
    border:0px 0px 1px 400ms #000;
    
}