img{
  stroke-width: 100%;
  opacity: 0.89;
  z-index: -1;
  background-color: rgb(71, 0, 104);
}
.heading{
  text-align: left;
  font-size: 40px;
  color: #ffffff;
  border-color: black;
}

.introduction{
  text-align: left;
  
}

.play{
  border-radius: 8px;
  text-align: left;
  text-align: left;
  margin: 0.2rem 0.2rem;
  padding: 0.5rem 1.2rem;
  background-color: #ffffff00;
  color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(255, 255, 255);
}
.play:hover{
  border-color: rgb(93, 15, 100);
  color: rgb(93, 15, 100);
}
.caption{
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding: 2rem 2rem;
  color: #fff;
  text-align: left;
  background: rgba(0, 0, 0, 0.3);
  margin: -2rem -15rem;
  color: rgb(255, 255, 255);
  
}

